html,body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  background-color: #efefef;
}

.graph-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.graph-card {
  background-color: #fff;
  flex-basis: 95%;
  min-height: 100px;
  margin: 1em auto;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0,0,0,.5);
  color: white;
  overflow: hidden;
}

@media screen and (min-width: 776px) {
  .graph-card {
    flex-basis: 48%;
  }
}

@media screen and (min-width: 1100px) {
  .graph-card {
    flex-basis: 31%;
  }
}
