/**
 * Copyright: 2019 - GraphUI
 *
 * License: MIT
 *
 * long description for the file
 *
 * @summary short description for the file
 * @author Mohammed Odunayo <factman60@gmail.com>
 *
 * Created at     : 2019-03-10 23:17:55 
 * Last modified  : 2019-03-10 23:17:55 
 */


.graph-panel {
  display: flex;
  position: absolute;
  align-items: flex-start;
  height: 0;
  font-family: Arial, Helvetica, sans-serif;
  div {
    display: flex;
    flex: 1;
    padding: 0.5em;
    height: 0;
    button {
      background-color: rgba(0,0,0,0.4);
      color: white;
      border: 1px solid white;
      font-size: large;
      padding: 0.8em 0.5em;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
      line-height: 0;
      opacity: 0.4;
      transition: all 0.5s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .graph-panel-options {
    align-items: flex-end;
    flex-direction: column;
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      background-color: white;
      padding: 1em 0;
      color: #333;
      font-size: small;
      border-radius: 5px;
      box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
      margin-top: 3.4em;
      transition: all 0.6s;
      position: fixed;
      top: -100%;
      opacity: 0;
      &:hover {
        opacity: 1;
        position: absolute;
        top: 10px;
        right: 0.5em;
      }
      &::before {
        content: "";
        width: 15px;
        height: 15px;
        background-color: white;
        transform: rotate(45deg);
        margin-top: -1.6em;
        right: 10px;
        position: absolute;
      }
      li {
        padding: 0.6em 1em;
        background-color: white;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: rgba(0,0,0,0.2);
        }
      }
    }
    button {
      &:focus + ul {
        opacity: 1;
        position: absolute;
        top: 10px;
        right: 0.5em;
      }
    }
  }
  .graph-panel-live {
    align-items: flex-start;
  }
}

.graph-inline-label {
  font-size: small;
  font-weight: bold;
}

.graph-node-group {
  .node-group {
    .circle-node {
      transition: all 0.3s;
    }
    .node-grid-v {
      opacity: 0;
      transform: translate(-100%, 0%);
      cursor: pointer;
      transition: all 0.3s;
    }
    .node-grid-h {
      opacity: 0;
      transform: translate(0%, 100%);
      cursor: pointer;
      transition: all 0.3s;
    }
  }
  &:hover {
    .node-group {
      font-size: large;
      &:hover {
        .circle-node {
          r: 8;
          stroke-width: 3;
          cursor: pointer;
        }
        .node-grid-v {
          opacity: 1;
          transform: translate(0%, 0%);
        }
        .node-grid-h {
          opacity: 1;
          transform: translate(0%, 0%);
        }
      }
    }
  }
}

.graph-svg-group {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

#GraphUI-toolTips-con {
  display: inline-block;
  position: fixed;
  top: -10%;
  left: -10%;
  background-color: white;
  min-width: 50px;
  min-height: 50px;
  border-radius: 10px;
  padding: 5px 10px;
  border: 2px solid #fff;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s, left 0.1s, opacity 0.1s;
  opacity: 0;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 22px;
    left: -10px;
    border-left: 10px solid #fff;
    border-bottom: 10px solid #fff;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
  p {
    margin: 6px 0;
  }
  #GraphUI-toolTips-head {
    font-weight: bold;
    font-size: large;
  }
  #GraphUI-toolTips-text {
    font-size: small;
  }
}

.graph-table-wrapper {
  overflow-x: auto;
  table {
    width: 100%;
    font-size: small;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #efefef;
    text-align: left;
    padding: 0.5em 1em;
    thead {
      tr {
        th {
          border-bottom: 3px solid #efefef;
          text-align: left;
          padding: 0.5em 1em;
          height: 25px;
        }
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: rgba(0,0,0,0.1);
        }
        th {
          border-bottom: 1px solid #efefef;
          text-align: left;
          padding: 0.5em 1em;
        }
        td {
          border-bottom: 1px solid #efefef;
          text-align: left;
          padding: 0.5em 1em;
        }
      }
    }
  }
}
